@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* #Primary
================================================== */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}

::selection {
  color: #fff;
  background-color: #005F41;
}

::-moz-selection {
  color: #fff;
  background-color: #005F41;
}


/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 50px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  padding: 30px 0;
  background-color: #f3f3f3 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 40px;
  filter: brightness(0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-filter: brightness(0.1);
}



.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  padding: 0;
}

.container-fluid-custom {
  width: 100vw;
  padding: 0 10em;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  transition: all 300ms linear;
}

.navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: white;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: 1px solid #000;
}

.collapse.show {
  background: #005F41;
}

.nav-link {
  color: #f3f3f3;
  font-size: 22px;
  font-weight: 600;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #c9c9c9 !important;
}

.nav-item.active .nav-link {
  color: #777 !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

.nav-item.scroll-on a {
  color: #212112;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  height: 100vh;
}

.over-hide {
  overflow: hidden;
}

.absolute-end {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  z-index: 20;
}

.absolute-start {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  z-index: 20;
}

/* Button Component */
.standard-button {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 14px 80px;
  font-size: 28px;
  font-weight: 400;
}

.standard-button:hover {
  background: white;
  color: #212112;
}

.w-100 {
  width: 100%;
}

.mt-md-10 {
  margin-top: 5rem !important;
}

.standard-button a {
  text-decoration: none;
  color: white;
}

.secondary-button a {
  text-decoration: none;
  color: #005F41;
}

.standard-button:hover a {
  color: #212112;
}

.secondary-button:hover a {
  color: white;
}

.secondary-button,
#buttonLoadMore {
  background: none;
  color: #005F41;
  border: 1px solid #005F41;
  border-radius: 30px;
  padding: 14px 80px;
  font-size: 28px;
  font-weight: 400;
}

.secondary-button:hover,
#buttonLoadMore:hover {
  background: #005F41;
  color: #f3f3f3;
}

.pointer {
  cursor: pointer;
}

/* Form Contact us */

.side-title {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
}

.side-title h4 {
  font-size: 24px;
}

.orng-radio[type=radio] {
  appearance: none;
  display: inline-block;
  position: relative;
  width: 100%;
  background: white;
  line-height: 2.8em;
}

.orng-radio[type=radio]:before {
  content: attr(data-text);
  display: inline-block;
  text-align: center;
  line-height: 2.9em;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.orng-radio[type=radio]:focus {
  outline: none;
}

.orng-radio[type=radio]:checked {
  margin-top: 0;
  background: #FFF;
  vertical-align: middle;
}

.orng-radio[type=radio]:checked:before {
  line-height: 2.65em;
  color: white;
  background: #005F41;
}

.orng-radio[type=radio]:active:before {
  color: #005F41;
}

.orng-radio[type=radio]:hover {
  background: #13926e;
  color: white;
}

.orng-radio-group {
  display: flex;
  position: relative;
  vertical-align: middle;
  border: 1px solid #000;
}

.orng-radio-group .orng-radio {
  float: left;
  border-radius: 0.1em;
}

fieldset input[type=text],
fieldset input[type=email] {
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
  font-size: 20px;
}

fieldset {
  margin-bottom: 3rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

/* Form Contact us */

/* Section Preset */
.about-section,
.services-section {
  background-color: #005F41;
  color: #f3f3f3;
  padding: 8rem 0;
}

.ambition-section {
  padding: 12rem;
}

.pitch-section {
  padding: 7rem 0;
  background-color: #4687FF;
}

.focus-section,
.approach-section,
.contact-section,
.adivsory-section,
.portfolio-section {
  padding: 8rem 0;
}

.team-section {
  padding: 5rem 0;
}

.team-1 .team-content {
  background-color: #5688FF;
  color: #fff;
  height: 100%;
}

.team-2 .team-content,
.team-3 .team-content {
  background-color: #D1F49C;
  color: #005F41;
  height: 100%;
}

.team-4 .team-content {
  background-color: #035D43;
  color: #fff;
  height: 100%;
}


footer {
  background-color: #005F41;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.footer-image-brand img {
  width: 50%;
}

div#teamContent-3 {
  order: 2;
}

div#teamPhoto-3 {
  order: 1;
}

div#teamContent-4 {
  order: 2;
}

div#teamPhoto-4 {
  order: 1;
}

/* Horizontal Accordion */

.slides {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 0;
}

.slide {
  list-style-type: none;
  height: 550px;
  width: 10%;
  overflow: hidden;

  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}

/* brands colors */
.brand1 {
  background-color: #035D43;
  color: white;
}

.brand2 {
  background-color: #D1F49C;
  color: #035D43;
}

.brand3 {
  background-color: #00391C;
  color: white;
}

.brand4 {
  background-color: #5688FF;
  color: white;
}

.brand1 a.action {
  color: white;
}

.brand2 a.action {
  color: #005F41;
}

.brand3 a.action {
  color: white;
}

.brand4 a.action {
  color: white;
}

.brand1 a.action:hover {
  color: rgb(219, 219, 219);
}

.brand2 a.action:hover {
  color: #038b60;
}

.brand3 a.action:hover {
  color: rgb(219, 219, 219);
}

.brand4 a.action:hover {
  color: rgb(219, 219, 219);
}

.brand2 .slide-content {
  color: #005F41;
}

.slide a.action {
  display: block;
  height: 100%;
  position: relative;
}

.slide a.action .accordion-number {
  font-size: 30px;
  position: absolute;
  top: 10%;
  left: 40%;
}

.slide a.action .accordion-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  transform: rotate(90deg);
  position: absolute;
  top: 35%;
  width: 300px;
  left: -57%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.brand4 a.action .accordion-title {
  margin-top: 1rem;
}

.slide .slide-content p {
  font-size: 27px;
  line-height: 1.5;
  margin-top: 30px;
}

.slide-content {
  display: block;
  width: 65rem;
  padding: 50px 80px;
}

.slide-content {
  color: #fff;
}

.slide-content h2 {
  font-weight: 500;
  font-size: 64px;
}

.active {
  width: 80%;
}

.active a.action {
  display: none;
}

@media (max-width: 480px) {
  .slides {
    display: initial;
  }

  .slide {
    width: 100% !important;
    margin-bottom: 15px;
    height: auto;
  }

  .slide-content {
    width: 100% !important;
    padding: 25px;
    font-size: 95%;
  }
}

/* End Horizontal Accordion */

/* Vertical Accordion */
#accordion .card {
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.card-header {
  border-bottom: none;
  background: none;
  padding: 2rem;
}

button:focus {
  outline: none;
}

.card-header:hover {
  color: whitesmoke;
  background: #13926e;
}

.card-body {
  padding: 2rem;
}

.background-none {
  background: none;
}

.border-none {
  border: none;
}

.list-accordion {
  margin-left: 3rem;
}

/* Text Setting */

.header-text {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  color: #f3f3f3;
}

.header-2xl {
  font-size: 52px;
  font-weight: 500;
  line-height: 1.5;
}

.text-xl {
  font-size: 36px;
  font-weight: 600;
}

.text-lg {
  font-size: 32px;
  font-weight: 600;
}

.line-height-l {
  line-height: 1.5 !important;
}

.heading-l {
  font-size: 28px;
  font-weight: 500;
}

.text-m {
  font-size: 22px;
  line-height: 3rem;
}

.text-sm {
  font-size: 20px;
}

.text-xs {
  font-size: 18px;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

p {
  font-size: 28px;
  font-weight: 300;
  line-height: 3rem;
}

.text-center {
  text-align: center;
}

.text-color-primary {
  color: #005F41;
}

.text-light-green {
  color: #C8F792;
}

.text-white {
  color: #f3f3f3;
}

.text-grey {
  color: #C4CCC7;
}

/* Margin Setting */
.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mr-10 {}

/* Padding Setting */
.pr-13 {
  padding-right: 13rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.mh-8 {
  min-height: 8rem;
}

/* Image Setting */
.image-wrapper {
  height: 100%;
  overflow-y: hidden;
}

.image-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center -100px;
}

.image-wrapper-small {
  margin-left: 15rem;
  overflow: hidden;
  width: 100%;
  height: 30rem;
}

.image-wrapper-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -150px;
}

.image-wrapper-m img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -150px;
}

.filter-70 {
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bottom-corner {
  border: none;
  background: none;
  outline: none;
  top: 5.5rem;
  right: 25%;
}

.fa-solid {
  font-size: 35px;
  font-weight: 600;
}

fieldset input::placeholder {
  font-size: 20px;
}

/* Footer Nav */
.list-none {
  list-style: none;
}

.footer-nav {
  text-decoration: none;
}

.footer-nav:hover {
  text-decoration: none;
  color: #87b355;
}

.strategy {
  padding-left: 1.5rem;
}

.implementation-title,
.implementation-description {
  margin-top: 7rem;
}

.approach-small-title {
  padding-right: 10rem;
}

.image-about-us {
  margin: 7rem 0;
}

.value-proposition-title {
  margin: 7rem 0;
}

.values-description {
  padding-right: 10rem;
  margin-top: 3rem;
}

.value-wrapper {
  margin-bottom: 6rem;
}

body.hero-anime p {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1700ms;
}

h1 span {
  display: inline-block;
  transition: all 300ms linear;
  opacity: 1;
  transform: translate(0);
}

body.hero-anime h1 span:nth-child(1) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(2) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(3) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(4) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(5) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(7) {
  opacity: 0;
  transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(8) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(9) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(10) {
  opacity: 0;
  transform: translateY(-20px);
}

h1 span:nth-child(1) {
  transition-delay: 1000ms;
}

h1 span:nth-child(2) {
  transition-delay: 700ms;
}

h1 span:nth-child(3) {
  transition-delay: 900ms;
}

h1 span:nth-child(4) {
  transition-delay: 800ms;
}

h1 span:nth-child(5) {
  transition-delay: 1000ms;
}

h1 span:nth-child(6) {
  transition-delay: 700ms;
}

h1 span:nth-child(7) {
  transition-delay: 900ms;
}

h1 span:nth-child(8) {
  transition-delay: 800ms;
}

h1 span:nth-child(9) {
  transition-delay: 600ms;
}

h1 span:nth-child(10) {
  transition-delay: 700ms;
}

body.hero-anime h1 span:nth-child(11) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(12) {
  opacity: 0;
  transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(13) {
  opacity: 0;
  transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(14) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(15) {
  opacity: 0;
  transform: translateY(50px);
}

h1 span:nth-child(11) {
  transition-delay: 1300ms;
}

h1 span:nth-child(12) {
  transition-delay: 1500ms;
}

h1 span:nth-child(13) {
  transition-delay: 1400ms;
}

h1 span:nth-child(14) {
  transition-delay: 1200ms;
}

h1 span:nth-child(15) {
  transition-delay: 1450ms;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 60px;
  height: 8px;
  border: 2px solid #005F41;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1900ms;
}

body.hero-anime #switch {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1900ms;
}

#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #000;
}

.switched {
  border-color: #000 !important;
  background: #005F41 !important;
}

.switched #circle {
  left: 43px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #fff;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129, 103, 169, .6);
}

body.dark {
  color: #fff;
  background-color: #1f2029;
}

body.dark .navbar-brand img {
  filter: brightness(100%);
}

body.dark h1 {
  color: #fff;
}

body.dark h1 span {
  transition-delay: 0ms !important;
}

body.dark p {
  color: #fff;
  transition-delay: 0ms !important;
}

body.dark .bg-light {
  background-color: #14151a !important;
}

body.dark .start-header {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

body.dark .start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

body.dark .nav-link {
  color: #fff !important;
}

body.dark .nav-item.active .nav-link {
  color: #999 !important;
}

body.dark .dropdown-menu {
  color: #fff;
  background-color: #1f2029;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

body.dark .dropdown-item {
  color: #fff;
}

body.dark .navbar-toggler-icon {
  border-bottom: 1px solid #000;
}

body.dark .navbar-toggler-icon:after,
body.dark .navbar-toggler-icon:before {
  background-color: #000;
}

body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }

  .nav-item:after {
    display: none;
  }

  /* .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
  } */

  .start-header.scroll-on .navbar-nav,
  .start-header.scroll-on .collapse.show {
    background: none;
  }

  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }

  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  body.dark .nav-item::before {
    background-color: #fff;
  }

  body.dark .dropdown-toggle::after {
    background-color: #fff;
  }

  body.dark .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
  }
}

/* #Link to page
================================================== */

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: all 250ms linear;
}

body.dark .logo img {
  filter: brightness(100%);
}

.orng-radio-2{
  appearance: none;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 2.8em;
}

.orng-radio-2-focus{
  color: white;
  background: #005F41;
}

.orng-radio-2-unfocus{
  background: white;
  color: #005F41;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .container-fluid-custom {
    padding: 0 3em;
  }

  .slide a.action .accordion-title {
    left: -125%;
  }

  .absolute-start {
    bottom: 26%;
  }
}

@media screen and (max-width: 575px) {

  /* Text Preset */
  .header-text {
    font-size: 40px;
  }

  .header-2xl {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
  }

  .text-xl,
  .slide-content h2 {
    font-size: 34px;
    font-weight: 600;
  }

  .text-lg {
    font-size: 28px;
    font-weight: 600;
  }

  .heading-l {
    font-size: 24px;
    font-weight: 500;
  }

  .text-m {
    font-size: 20px;
    line-height: 3rem;
  }

  .text-sm {
    font-size: 18px;
  }

  .text-xs {
    font-size: 16px;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-bold {
    font-weight: 600;
  }

  p,
  .slide .slide-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 3rem;
  }

  .line-height-md {
    line-height: 1.75rem;
  }

  .mb-xs-2 {
    margin-bottom: 1.5rem;
  }

  .ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* Container */
  .container-fluid-custom {
    padding: 1.5em;
  }

  /* Section */

  .navbar-brand {
    width: 70%;
  }

  .nav-item {
    display: flex;
    justify-content: center;
  }

  .start-header.scroll-on .navbar-brand img {
    height: unset;
  }

  .start-header.scroll-on .navbar-toggler-icon:after,
  .start-header.scroll-on .navbar-toggler-icon:before {
    background-color: #212112;
  }

  .navbar-nav {
    background: #005F41;
  }

  .navbar-brand img {
    height: auto;
    width: 100%;
  }

  .hero .image-wrapper img {
    width: unset;
  }

  .hero .image-wrapper {
    overflow: hidden;
  }

  .about-section,
  .ambition-section,
  .pitch-section,
  .services-section,
  .approach-section,
  .contact-section,
  .adivsory-section,
  .portfolio-section {
    padding: 3rem 0;
  }

  footer {
    padding: 2rem 0;
  }

  .subdescription {
    padding-right: 2rem;
    line-height: 1.8;
    margin-bottom: 5rem;
  }

  .copyright {
    margin-top: 2rem;
  }

  .offers {
    padding: 3rem 0;
  }

  .added-image {
    width: 100%;
  }

  .description {
    padding: 0;
    line-height: 1.7;
  }

  .responsive-margin-top {
    margin-top: 5rem;
  }

  /* horizontal accordion */

  .slide a.action .accordion-number {
    display: none;
  }

  /* end */

  .image-wrapper-small {
    margin-left: 0;
  }

  .strategy {
    margin-top: 3rem;
    padding-left: 15px;
  }

  .implementation-title,
  .implementation-description {
    margin-top: 2rem;
  }

  /* vertical accordion */

  .card-header,
  .card-body {
    padding: 1.5rem;
  }

  /* vertical accordion */

  .approach-small-title {
    padding-right: 0;
  }

  .image-about-us {
    margin: 2rem 0;
  }

  .image-about-us img {
    width: 100%;
  }

  .value-proposition-title {
    margin: 3rem 0;
  }

  .value-description {
    margin-top: 2rem;
    padding-right: 15px;

  }

  .value-wrapper {
    margin-bottom: 3rem;
  }

  .address {
    margin-bottom: 3rem;
  }

  .orng-radio-group {
    display: inline-block;
    width: 100%;
  }

  .side-title {
    justify-content: center;
  }

  .bottom-corner {
    top: 7.5rem;
    z-index: 999;
  }

  .navigation-colored .navbar-toggler-icon:after,
  .navigation-colored .navbar-toggler-icon:before {
    background-color: #005F41;
  }

  .navigation-colored .nav-link {
    color: white !important;
  }

  .figure-wrapper {
    min-height: 5rem !important;
    max-height: 5rem !important;
  }

  .title-wrapper {
    height: 5rem !important;
    max-height: 5rem !important;
  }

  .mt-md-10 {
    margin-top: 2rem;
  }

  .footer-image-brand img {
    width: 60%;
  }

  div#teamContent-3 {
    order: 2;
  }

  div#teamPhoto-3 {
    order: 1;
  }

  div#teamContent-4 {
    order: 2;
  }

  div#teamPhoto-4 {
    order: 1;
  }
}

@media screen and (max-width: 375px) {
  .nav-item {
    display: flex;
    justify-content: center;
  }
}